@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F2CEA2, #D9725B);
}
main{
    background-color: white;
    width: 650px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d9363688;
}
h1{
    color:#A62934;
    text-align: center;
    text-shadow: 1px 1px 3px #7a1f27a4
}
h2{
    color: #D93636;
}
p{  
 text-align: justify;
}